/* @Typography */

@font-face {
    font-family: 'Mellony Dry Brush';
    src: url('mellony_dry_brush-webfont.ttf') format('ttf'),
         url('mellony_dry_brush-webfont.woff') format('woff'),
				 url('mellony_dry_brush-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}
/*body { font-family: 'Libre Baskerville', sans-serif; font-weight: 400; }*/
h1 { font-family: 'Mellony Dry Brush', sans-serif; font-weight: 200; font-size: 3rem; text-align: center; }
h2 {font-family: "Mellony Dry Brush", sans-serif; font-weight: 200: 2rem; text-align: center; }
h3 {font-family: 'Mellony Dry Brush', sans-serif; font-weight: 100: 2rem; text-align: center; }
