/* @Typography */
/*body { font-family: 'Libre Baskerville', sans-serif; font-weight: 400; }*/
h1, h2, h3 { font-family: 'mellony_dry_brushregular', sans-serif; font-weight: 200; font-size: 2rem; text-align: center; }
